[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
{%- if cookiecutter.use_pytest == 'y' %}
pytest = "*"
pytest-flask = "*"{% endif %}
pylint = "*"
flake8 = "*"
docformatter = "*"
isort[requirements,pipfile] = "*"

[packages]
flask = "*"
{%- if cookiecutter.use_flask_wtf == 'y' %}
flask-wtf = "*"{% endif %}
{%- if cookiecutter.use_flask_sqlalchemy == 'y' %}
flask-sqlalchemy = "*"{% endif %}
{%- if cookiecutter.use_flask_migrate == 'y' %}
flask-migrate = "*"{% endif %}
{%- if cookiecutter.use_flask_bootstrap == 'y' %}
flask-bootstrap = "*"{% endif %}
{%- if cookiecutter.use_flask_mail == 'y' %}
flask-mail = "*"{% endif %}
{%- if cookiecutter.use_flask_moment == 'y' %}
flask-moment = "*"{% endif %}

{%- if cookiecutter.required_specific_python == 'y' %}
[requires]
python_version = "{{ cookiecutter.required_python_version }}"
{% endif %}
